<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.FileMapper">

	<select id="findOne" resultType="FileDTO">
		SELECT * FROM file WHERE id = #{id}
	</select>

	<select id="findAll" resultType="FileDTO">
		SELECT * FROM file
	</select>
	
	<select id="getImage" resultType="String">
		select path from file
		where id=#{id}
	</select>
	
	<insert id="fileUpload" useGeneratedKeys="true" keyProperty="id">
		INSERT file (path)
		VALUES (#{path})
	</insert>
	
	<update id="update">
		UPDATE file SET path = #{path}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	    DELETE FROM file WHERE id = #{id}
	</delete>

</mapper>