<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.TeamMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT team (group_m_apply_id, group_mentee_id)
		VALUES (#{group_m_apply_id}, #{group_mentee_id})
	</insert>
	
	<select id="findTeamByMentor" resultType="Team">
		SELECT * from team where group_m_apply_id = #{group_m_apply_id}
	</select>
	
	<select id="findTeamByMember" resultType="Team">
		SELECT * from team where group_mentee_id = #{group_mentee_id}
	</select>
	
	<delete id="delete">
	    DELETE FROM team WHERE group_m_apply_id = #{group_m_apply_id}
	</delete>
	
	<delete id="deleteMentee">
	    DELETE FROM team WHERE group_mentee_id = #{group_mentee_id}
	</delete>

	<select id="findAll" resultType="Team">
      SELECT t.*, m.group_name, m.count, m.open_date, u.name, count(*)-1 "apply_mentee_count"
      FROM Team t join mentor_apply m
      on t.group_m_apply_id = m.id
      left join user u
      on m.mentor_u_id = u.id
      WHERE m.m_condition=0 and m.open_date between #{param1} and #{param2}
      group by t.group_m_apply_id      
   </select>
   
   <select id="findMentoringByName" resultType="Team">
      SELECT t.*, m.group_name, m.count, m.open_date, u.name, count(*)-1 'apply_mentee_count', m.mentor_u_id
      FROM Team t join mentor_apply m
      on t.group_m_apply_id = m.id
      left join user u
      on m.mentor_u_id = u.id
      group by t.group_m_apply_id   
      HAVING m.group_name LIKE CONCAT('%', #{keyword}, '%');
   </select>
   
   <select id="count" resultType="int">
	  SELECT count(*)
	  FROM team;
   </select>
	
</mapper>